@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: #27302e;
}

nav h3, h2 {
    color: white;
}

.col-6 {
    width: 60%;
}

#main {
    margin-top: 5vh;
    margin-bottom: 10vh;
}

#main-card {
    width: 20rem;
    height: 70vh;
    margin-top: 5vh;
}

.card {
    background: #dffbff;
}

.card:nth-child(2n+1) {
    background: #00ACD1;
    color: white;
}

.card-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;

}

.card-group {
    margin: 20px 0px;

}

.card-title, .card-text {
    text-align: center;
}

.wheater-icon {
    width: 50px;
    height: 50px;
}

#main-card .wheater-icon {
    width: 100px;
    height: 100px;
}

#loader {
    color: white;
    text-align: center;
    margin: 100px 0px;
    font-size: 2rem;
}

footer {
    background: rgb(32, 25, 25);
    color: white;
}

@media(max-width: 800px) {
    h2 {
        text-align: center;
    }

}